<footer class="footer">
  <div class="footer-wrapper container">
      <div class="section-title">
          <h2>TechStore<span>.</span></h2>
      </div>

      <div class="footer-menus-row">
          <div class="footer-menu-wrapper">
              <h4 class="footer-menu-title">links</h4>
              <ul class="footer-menu">
                  <li class="footer-menu-item">
                      <a href="/#home" target="_self">home</a>
                  </li>
                  <li class="footer-menu-item">
                      <a href="/#about" target="_self">about</a>
                  </li>
                  <li class="footer-menu-item">
                      <a href="/#contact" target="_self">contact</a>
                  </li>
                  <li class="footer-menu-item">
                      <a href="/products" target="_self">products</a>
                  </li>
              </ul>
          </div>
          <div class="footer-menu-wrapper">
              <h4 class="footer-menu-title">Company</h4>
              <ul class="footer-menu">
                  <li class="footer-menu-item">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>kiryat shmona, israel</span>
                  </li>
                  <li class="footer-menu-item">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <a href="mailto:support@techstore.com">support@techstore.com</a>
                  </li>
                  <li class="footer-menu-item">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <a href="tel:+000123456789">(+000) 12 345 6789</a>
                  </li>
              </ul>
          </div>
          <div class="footer-menu-wrapper">
              <h4 class="footer-menu-title">Follow Us</h4>
              <ul class="footer-menu">
                  <li class="footer-menu-item">
                      <a href="#"><i class="fa fa-instagram"></i> instagram</a>
                  </li>
                  <li class="footer-menu-item">
                      <a href="#"><i class="fa fa-twitter"></i> twitter</a>
                  </li>
                  <li class="footer-menu-item">
                      <a href="#"><i class="fa fa-github"></i> github</a>
                  </li>
                  <li class="footer-menu-item">
                      <a href="#"><i class="fa fa-stack-overflow"></i> stack-overflow</a>
                  </li>
              </ul>
          </div>
      </div>

      <a href="#top" target="_self" class="back-to-top-btn" title="go back to the top of the page">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </a>

      <p class="footer-copyrights">
          Copyright © 2022 <a href="#">Y.E team</a> - All rights reserved.
      </p>
  </div>
</footer>