<nav class="navbar nav">
    <div class="nav-wrapper container">
        <a class="nav-logo" href="/">TechStore<span>.</span></a>

        <input class="nav-mobile-input" type="checkbox" id="nav-mobile-input" />
        <label class="nav-mobile" for="nav-mobile-input">
            <span class="nav-mobile-ham"></span>
        </label>

        <ul class="nav-menu">
            <li class="nav-item"><a href="/#home" target="_self">home</a></li>
            <li class="nav-item"><a href="/#about" target="_self">about</a></li>
            <li class="nav-item"><a href="/#contact" target="_self">contact</a></li>
            <li class="nav-item"><a href="/products" target="_self">products</a></li>
            <% if((typeof(user) !="undefined" ) && user.role=="admin" ) { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" style="color: #29bd71;">
                    Admin
                </a>
                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li class="dropdown-item"><a href="/add-product" target="_self">Add Product</a></li>
                    <li class="dropdown-item"><a href="/all-orders" target="_self">View Orders</a></li>
                </ul>
            </li>
            <% } %>

        </ul>


        <ul class="nav-menu">
            <% if (typeof(user)=="undefined" ) { %>
                <li class="nav-item">
                    <a href="/register" target="_self" class="btn btn-link">Sign Up</a>
                    <span style="text-transform: lowercase;">or </span>
                </li>
                <li class="nav-item" style="margin-left: 0.8em;">
                    <a href="/login" target="_self" class="btn btn-primary">log in</a>
                </li>
                <% } else { %>
                    <li class="nav-item"><a href="/my-orders" target="_self">My Orders</a></li>
                    <li class="nav-item">
                        <% if (user.cart.items.length> 0) { %>
                            <a href="/shopping-cart" target="_self" class="cart-icon-wrapper"
                                data-quantity="<%=user.cart.items.length %>">
                                <% } else { %>
                                    <a href="/shopping-cart" target="_self" class="cart-icon-wrapper">
                                        <% } %>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="cart-icon"
                                                viewBox="0 0 512 512">
                                                <title>Shopping Cart</title>
                                                <circle cx="176" cy="416" r="32" />
                                                <circle cx="400" cy="416" r="32" />
                                                <path
                                                    d="M456.8 120.78a23.92 23.92 0 00-18.56-8.78H133.89l-6.13-34.78A16 16 0 00112 64H48a16 16 0 000 32h50.58l45.66 258.78A16 16 0 00160 368h256a16 16 0 000-32H173.42l-5.64-32h241.66A24.07 24.07 0 00433 284.71l28.8-144a24 24 0 00-5-19.93z" />
                                            </svg>
                                    </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" target="_self" class="btn btn-link">Log Out</a>
                    </li>
                    <% } %>
        </ul>
    </div>
</nav>