<% layout('./layouts/boilerplate') %>

<main class="main container">
    <section>
        <div class="section-title">
            <h2>404 - Page not found<span>.</span></h2>
        </div>

        <p>
            Whoops! Look like the page you were looking for could not been found. It might have been removed, had its name changed, or is temporarily unavailable.
        </p>
        <p>
            In any case, you can go back to the <b><a href="/" target="_self">Home Page</a></b>.
        </p>
    </section>
</main>

<% layout('./layouts/boilerplate') %>