<% layout('./layouts/boilerplate') %>


<main class="main container">
    <section>
        <div class="section-title-wm">
            <h2>TS</h2>
        </div>
        <div class="section-title">
            <h3>Order Details<span>.</span></h3>
        </div>

        <form class="login-form" action="/login" method="POST">
            <div class="form-field">
                <label for="name">Name</label>
                <input class="form-input" type="email" name="username" />
            </div>
            <div class="form-field">
                <label for="address">Address</label>
                <input class="form-input" type="text" name="password" />
            </div>
            <div class="form-field">
                <label for="address">Phone Number</label>
                <input class="form-input" type="text" name="password" />
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>

    </section>
</main>
<% layout('./layouts/boilerplate') %>