/* --------------------------------------------------------------------------------------------- */
/* --- Edit-Order Page ------------------------------------------------------------------------- */


.form fieldset {
    margin-bottom: 1.5rem;
}
.field-title {
    margin-bottom: 0.5rem;
    font-family: var(--fontFamily-heading);
    font-weight: var(--fontWeight-black);
}
.order-items {
    width: 100%;
}
.order-items tr th:nth-child(1) {
    border-right: 1px solid var(--body-bg-hl-color);
}


/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */